<html>
    <head>
    </head>
    <body style="background: #eceae7; color: #6F6F6F; font-family: Tahoma, Arial, San-serif; line-height: 24px; margin: 0;">
    <div style="width: 100%">
        @RenderBody()
    </div>
</body>
</html>