@{
    ViewBag.Title = Resources.About.Title;
}
<hgroup class="title">
    <h1>@Resources.About.Title</h1>
    <h2>@Resources.Shared.AppName</h2>
</hgroup>
<article>
    <p>
        @Resources.About.Message (<a href="http://www.radarc.net" target="_blank">http://www.radarc.net</a>)
    </p>
</article>
